
  
    <div class="row">

      <div class="col-md-7">
        <h5>Menu</h5>
        
        {{#each burgers}}
            {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <div class="row"> 
                    <div class="col-md-6" id="burgerMenu">
                      {{id}}.  {{this.burger_name}}
                    </div>
                    <div class="col-md-1">
                        <button type="submit" id="devour">Devour It?</button>
                    </div>
                </div>
             
              </form>
            </div>
            {{/unless}}
          {{/each}}
          
       
      </div>


      <div class="col-md-5">
        <h5>Devoured</h5>
       
          {{#each burgers}}
            {{#if this.devoured}}              
              <div>
                <form action="/burgers/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="burgerDevoured"> {{id}}.  {{this.burger_name}}</button>
                </form>
              </div>  
            {{/if}}
          {{/each}}
        
      </div>
    </div>

